body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
    margin: 0%;
}
.green-color{
    color: green;
}
.orange-color{
    color: orange;
}
.box1{
    width: 50%;
    padding: 10%;
}
.first-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(90, 216, 90), black);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 78%;
    left: 19%;
}
.the-diet{
    display: flex;
}
.female-pic-size img {
    width: 98%;
}
.female-pic-size2 img {
    padding-top: 50px;
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    display: flex;
    border-radius: 20px;
}
.second-button{
    text-decoration: none;
    background-image: linear-gradient(green,black);
    padding: 10px 40px;
    font-weight: 400;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 160%;
    right: 19%;
}
.recipies{
    width: 80%;
    padding: 10%;
}
.text-recipies-middle{
    text-align: center;
}
.box2{
    width: 25%;
}
.try{
    display: flex;
}
.box2 img{
    width: 90%;
}