body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    margin: 0%;
}
.green-color{
    color: green;
}
.box1{
    width: 50%;
    padding: 10%;
}
.first-button1{
    text-decoration: none;
    background-image: linear-gradient(rgb(90, 216, 90), black);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 83%;
    left: 16%;
}
.the-diet{
    display: flex;
}
